{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

<!---
    {% if request.user.is_authenticated %}

        {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}
--->

<div class="container d-flex flex-column align-items-center py-4 py-xl-5">
    <div class="row gy-4 row-cols-1 row-cols-md-2 w-100" style="max-width: 800px;">
        <div class="col order-md-first">
            <div class="card"><img class="card-img w-100 d-block" src="../../media/aa-112-Lexington-Street-looking-west-from-Park-Ave-ca-1942-ADD-TO-CHRISTMAS-TALK.jpg" /></div>
        </div>
        <div class="col d-md-flex order-first justify-content-md-start align-items-md-end order-md-1">
            <div style="width: 80%;">
                <h2><br /><strong>Connect, Discover, and Cherish Your Family History</strong></h2>
                <p><strong><span style="color: rgb(25, 245, 170);">COSC612 - Spring 2023</span></strong></p>
            </div>
        </div>
        <div class="col order-md-2">
            <div class="card"><img class="card-img w-100 d-block" src="../../media/IIhenryphillipsSr1700+2+copy+web+version.jpg" />
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4"></div>
            </div>
        </div>
        <div class="col order-md-2">
            <div class="card"><img class="card-img w-100 d-block" src="../../media/old_aerialview_m.jpg" />
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
