{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block title %}User Dashboard{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
    <h3 class="card-title">{% trans 'Welcome to your User Dashboard' %}</h3>
  </div>
  <div class="card-body">
    {% if person %}
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            {% if person.profile_photo %}
            <img src="{{ person.profile_photo.url }}" class="rounded-circle" height="150px" width="150px">
            {% else %}
            <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="150px" width="150px">
            {% endif %}
          </div>
          <div class="col-sm-9">
            <h2>{{ person.full_name }}</h2>
            <p>{{ person.bio }}</p>
            <p>{{ person.email }}</p>
            <p>{{ person.phone }}</p>
            <p>{{ person.address }}</p>
            <p>{{ person.personal_storage }}</p>
            <a href="{% url 'accounts:edit_person_information' person.id %}" class="btn btn-primary">{% trans 'Edit Person' %}</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}